<div style="height:1px;"></div>
<div class="welcome-logo-wrapper" ng-init="placeLogo()" ng-click="fbLogin()">
    <div class="welcome-logo animated"ng-style="{height: logoHeightPX, width: logoWidthPX, margin:logoMarginPX}" ></div>
    <!--<div class="welcome-logo-animation" ng-show="!logoAnimationComplete" ng-style="{height: logoHeightPX, width: logoWidthPX, margin:logoMarginPX}" ></div>-->
</div>

<i class="fa fa-question-circle welcome-app-what rtl" ng-click="showDialog('welcome')"></i>
<div class="top-text rtl" >
   Login
</div>
<form name="myForm" ng-submit="myForm.$valid &&fbLogin()">

    <div class="list">
        <div class="form-group">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" name="Name" ng-model="loginData.username" required>
            </label>
        </div>
        <div class="form-group">
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" name="password" ng-model="loginData.password" required>
            </label>
        </div>
    </div>
    <div class="bottom-wrapper">
        <a class="fb-login" ng-click="myForm.$valid && fbLogin()">
            <p> Login</p>
        </a>
    </div>
</form>
<p class="text-center errorMessage" ng-show="loginData.loginError" >
    {{loginData.Error}}
</p>
<p class="text-center">
    <a ng-href="#/welcome">Register</a>
</p>


<!--<a id="inst-login" ng-href="{{instajam.authUrl}}"><p>Sign in with Instagram</p></a>-->

