<div class="page">

    <div id="pet-pic" ng-clock>
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <div ng-repeat="item in donations">
                    <div class="pet">
                        <div class="pet-inner">
                            <div class="pet-pic" ng-click="playVideo(item.media.video)"
                                 ng-style="{'background-image': 'url('+item.media.image+')', height: picHeight}">
                                <span class="pet-pic-play fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x pet-pic-play-circle"
                                     ng-style="{lineHeight: (picHeight +'px')}"></i>
                                  <i class="fa fa-play fa-stack-1x fa-inverse"
                                     ng-style="{lineHeight: (picHeight +'px')}"></i>
                                </span>
                            </div>
                            <div class="pet-bar">
                                <img class="owner-pic" ng-src="{{item.user.image || 'images/default_owner.png'}}"/>
                                <img class="pet-gender"
                                     ng-src="{{item.gender=='f' ? 'images/pet_female.png' : 'images/pet_male.png'}}"/>

                                <div class="pet-name" ng-bind="item.treat.name || pet.name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div id='slider-treats' class='swipe'>-->
    <div class='treat-wrapper' ng-style="{height: grassHeight, padding: buttonMargin}">
        <div ng-if="showButton == 'buy'">
            <div class="pet-buy-button" ng-click="animateButton();"
                 ng-style="{width:buttonHeight, height:buttonHeight}">
            </div>
        </div>
        <div ng-if="showButton == 'share'">
            <div class="pet-share-button" ng-click="animateShareButton();"
                 ng-style="{width:buttonHeight, height:buttonHeight}">
            </div>
        </div>
        <div ng-if="showButton == 'adopt'" class="treat-share-wrapper">
            <div class="pet-adopt-button-gif" ng-click="animateAdoptButton();"
                 ng-style="{width:buttonHeight, height:buttonHeight}">
            </div>
            <div class="pet-adopt-button" style="display:none;"
                 ng-style="{width:buttonHeight, height:buttonHeight}">
            </div>
        </div>
        <div ng-if="showButton == 'love'">
            <div class="pet-like-button" ng-click="animateLikeButton();"
                 ng-style="{width:buttonHeight, height:buttonHeight}">
            </div>
        </div>
<!--
        <div ng-if="showButton == 'love'" class="treat-love-wrapper" ng-click="loved = !loved">
            <span class="" ng-style="{fontSize: (buttonHeight)}">
                <span class="fa-stack fa-lg" ng-style="{fontSize: (buttonHeight/2)}" ng-show="!loved">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart-o fa-stack-1x color-white"></i>
                </span>
                <span class="fa-stack fa-lg" ng-style="{fontSize: (buttonHeight/2)}" ng-show="loved">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart fa-stack-1x color-red"></i>
                </span>
            </span>
        </div>
-->
    </div>


    <div class="cart-wrapper" ng-class="{up: cartIsUp}" ng-click="cartIsUp=!cartIsUp" ng-if="showCart">
        <div class="cart-center">
            <div></div>
        </div>

        <div class="cart-items">
            <i class="pet-info fa fa-times" ng-show="cartIsUp"></i>

            <div ng-hide="cartIsUp">
                <i class="pet-info fa fa-shopping-cart fa-flip-horizontal"></i>

                <div class="cart-items-title" ng-bind="cartTitle"></div>
            </div>
        </div>
        <div class="cart-timer">
            <i class="pet-clock fa fa-clock-o"></i>
            <span data-timer="timer" data-end-time="nextFriday" class="pet-timer">
                <div class="timer-title">
                </div>
                <table>
                    <tr>
                        <td>{{days}}</td>
                        <td>:</td>
                        <td>{{hhours}}</td>
                        <td>:</td>
                        <td>{{mminutes}}</td>
                        <td>:</td>
                        <td>{{sseconds}}</td>
                    </tr>
                </table>
            </span>
        </div>

        <div class="clear"></div>

        <div class="cart-shop-title" ng-if="cartIsUp">הפריטים הבאים יתרמו בסוף השבוע הקרוב. על כל תרומה יישלח לכם
            סרטון
        </div>

        <ul class="shop-wrapper" ng-if="cartIsUp">
            <li class="shop-item-wrapper" ng-repeat="donation in pending">
                <div class="shop-item-image"
                     style="background-image: url({{donation.treat.image.length > 5 ? donation.treat.image : '/images/placeholder.png'}})"></div>
                <div class="shop-item-price">₪{{donation.treat.price}}</div>
                <div class="shop-item-name" ng-bind="donation.treat.name"></div>
                <div class="shop-item-desc" ng-bind="donation.treat.desc"></div>
                <div class="shop-item-checkbox cart">
                    1x
                </div>
                <div class="clear"></div>
            </li>
        </ul>

    </div>

</div>




