<div class="page">

    <div id="pet-pic" ng-clock>
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <div class="pets-pic">
                    <div class="pet">
                        <div class="pet-inner pet-kennel-info" ng-style="{height:infoHeightPX}">
                            <div class="pet-kennel-info-title">{{pet.name}} - {{pet.kennel.name}}</div>
                            <div class="pet-kennel-info-body">{{pet.kennel.info}}</div>
                            <a class="pet-kennel-info-link" target="_blank" ng-href="{{trustSrc('geo:' + pet.kennel.latlon)}}"><i class="fa fa-crosshairs fa-fw"></i>&nbsp;לצפייה במפה</a>
                            <!--<span class="pet-kennel-info-link" ng-click="gotoKennel()"><i class="fa fa-external-link fa-fw"></i>&nbsp;לאתר הכלבייה</span>-->
                        </div>
                    </div>
                </div>
                <div class="pets-pic" ng-repeat="item in donations">
                    <div class="pet" ng-show="($index==0 || swipeComplete)">
                        <div class="pet-inner">
                            <div class="pet-pic" ng-click="playVideo(item.media.video)" ng-if="isIphone"
                                 style="position:absolute; left: 0;"
                                 ng-style="{'background-image': 'url('+item.media.image+')', height: picHeightPX}">
                                <span class="pet-pic-play fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x pet-pic-play-circle"
                                       ng-style="{lineHeight: (picHeight +'px')}"></i>
                                    <i class="fa fa-play fa-stack-1x fa-inverse"
                                       ng-style="{lineHeight: (picHeight +'px')}"></i>
                                </span>
                            </div>
                            <div class="pet-pic" ng-style="{height:picHeightPX, opacity: (isIphone ? '0' : '1')}"
                                 pet-player></div>
                            <div class="pet-bar">
                                <img class="owner-pic" ng-src="{{item.user.image || 'images/default_owner.png'}}"/>
                                <img class="pet-gender"
                                     ng-src="{{item.gender=='f' ? 'images/pet_female.png' : 'images/pet_male.png'}}"/>

                                <div class="pet-name" ng-bind="item.treat.name || pet.name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='treat-wrapper' ng-style="{height: grassHeightPX, padding: buttonMarginPX}">
        <div ng-if="showButton == 'buy'">
            <div class="pet-buy-button" ng-click="animateButton();"
                 ng-style="{width:buttonHeightPX, height:buttonHeightPX}">
            </div>
        </div>
        <div ng-if="showButton == 'share'">
            <div class="pet-share-button" ng-click="animateShareButton();"
                 ng-style="{width:buttonHeightPX, height:buttonHeightPX}">
            </div>
        </div>
        <div ng-if="showButton == 'adopt'" class="treat-share-wrapper">
            <div class="pet-adopt-button-gif" ng-click="animateAdoptButton();"
                 ng-style="{width:buttonHeightPX, height:buttonHeightPX}">
            </div>
            <div class="pet-adopt-button" style="display:none;"
                 ng-style="{width:buttonHeightPX, height:buttonHeightPX}">
            </div>
        </div>
        <div ng-if="showButton == 'love'">
            <div class="pet-like-button" ng-click="animateLikeButton();"
                 ng-style="{width:buttonHeightPX, height:buttonHeightPX}">
            </div>
        </div>
    </div>

    <div class="cart-wrapper" ng-class="{up: cartIsUp, iPhone:isIphone}" ng-click="cartIsUp=!cartIsUp" ng-if="showCart">
        <div class="cart-center">
            <div></div>
        </div>

        <div class="cart-items">
            <i class="pet-info fa fa-times" ng-show="cartIsUp"></i>

            <div ng-hide="cartIsUp">
                <i class="pet-info fa fa-shopping-cart fa-flip-horizontal"></i>

                <div class="cart-items-title" ng-bind="cartTitle"></div>
            </div>
        </div>
        <div class="cart-timer">
            <i class="pet-clock fa fa-clock-o"></i>
            <span data-timer="timer" data-end-time="nextFriday" class="pet-timer">
                <div class="timer-title">
                </div>
                <table>
                    <tr>
                        <td>{{days}}</td>
                        <td>:</td>
                        <td>{{hhours}}</td>
                        <td>:</td>
                        <td>{{mminutes}}</td>
                        <td>:</td>
                        <td>{{sseconds}}</td>
                    </tr>
                </table>
            </span>
        </div>

        <div class="clear"></div>

        <div class="cart-shop-title" ng-if="cartIsUp">הפריטים הבאים יתרמו בסוף השבוע הקרוב. על כל תרומה יישלח לכם
            סרטון
        </div>

        <ul class="shop-wrapper" ng-if="cartIsUp">
            <li class="shop-item-wrapper" ng-repeat="donation in pending">
                <div class="shop-item-image"
                     style="background-image: url({{donation.treat.image.length > 5 ? donation.treat.image : '/images/placeholder.png'}})"></div>
                <div class="shop-item-price">₪{{donation.treat.price}}</div>
                <div class="shop-item-name" ng-bind="donation.treat.name"></div>
                <div class="shop-item-desc" ng-bind="donation.treat.desc"></div>
                <div class="shop-item-checkbox cart">
                    1x
                </div>
                <div class="clear"></div>
            </li>
        </ul>

    </div>

</div>

<div ng-show="showAdoptionAnimation" class="pet-adopted-wrapper">
    <div style="opacity: 0;" class="pet-adopted-button"></div>
</div>



