<div class="pets-text rtl" ng-if="filter=='lonely' && (user && !user.pet)">
    {{pets.length}} מאיתנו עוד כאן, מחכים לאימוץ.
    אז את מי מאיתנו בא לך לקחת?
</div>
<div class="pets-text rtl" ng-if="filter=='lonely' && user.pet">
    {{pets.length}} מאיתנו עוד כאן, מחכים לאימוץ.
    מה דעתך לעזור לאחד מאיתנו למצוא בעלים?
</div>
<div class="pets-pic" ng-clock>
    <div ng-repeat="pet in pets">
        <a class="pet" ng-href="#/pet/{{pet._id}}">
            <div class="pet-inner">
                <div class="pet-pic" ng-style="{'background-image': 'url('+pet.media.image+')'}" ng-class="{blacknwhite: !pet.user}"></div>
                <div class="pet-bar">
                    <img class="owner-pic" ng-src="{{pet.user.image || 'images/default_owner.png'}}"/>
                    <img class="pet-gender" ng-src="images/pet_male.png"/>

                    <div class="pet-name" ng-bind="pet.name"></div>
                </div>
            </div>
        </a>
    </div>
</div>