<div class="top-text rtl" ng-if="filter=='lonely' && (user && !user.pet) && pets.length">
    {{pets.length}} כלבים עוד כאן, מחכים לאימוץ.<br/>
    את מי מהם בא לך לאמץ?
</div>
<div class="top-text rtl" ng-if="filter=='lonely' && user.pet && pets.length">
    {{pets.length}} כלבים עוד כאן. מחכים לאימוץ.<br/>
    רוצה לעזור להם למצוא בית?
</div>
<div class="top-text rtl" ng-if="filter=='adopted' && pets.length">
    בזכותכם יש פה כבר {{pets.length}} כלבים מאומצים והרבה יותר סרטונים מחממי לב. תודה.
</div>
<div class="pets-list" ng-clock>
    <div ng-repeat="pet in pets">
        <a class="pet" ng-href="#/pet/{{pet._id}}">
            <div class="pet-inner">
                <div class="pet-pic" ng-style="{'background-image': 'url('+pet.media.image+')'}" ng-class="{blacknwhite: !pet.user}"></div>
                <div class="pet-bar">
                    <img class="owner-pic" ng-src="{{pet.user.image || 'images/default_owner.png'}}"/>
                    <img class="pet-gender"
                         ng-src="{{item.gender=='f' ? 'images/pet_female.png' : 'images/pet_male.png'}}"/>

                    <div class="pet-name" ng-bind="pet.name"></div>
                </div>
            </div>
        </a>
    </div>
</div>