<div class="top-text rtl" ng-if="(user && !user.pet)">
    רוצה לאמץ את {{pet.name}}? עליך רק לקנות לי פינוק קטן...
</div>
<div class="top-text rtl" ng-if="(user && user.pet)">
    אז מה בא לך לקנות ל{{pet.name}} הפעם?
</div>

<ul class="shop-wrapper">
    <li class="shop-item-wrapper" ng-repeat="treat in treats | orderBy:'order'" ng-click="cartChanged(treat)">
        <div class="shop-item-image"
             style="background-image: url({{treat.image.length > 5 ? treat.image : '/images/placeholder.png'}})"></div>
        <div class="shop-item-price">₪{{treat.price}}</div>
        <div class="shop-item-name" ng-bind="treat.name"></div>
        <div class="shop-item-desc" ng-bind="treat.desc">אחלה חטיף תענוג גדול!</div>
        <div class="shop-item-checkbox">
            <i class="fa" ng-class="{checked: treat.cart, fixed: treat.fixed}" ></i>
        </div>
        <div class="clear"></div>
    </li>
</ul>
<div class="shop-checkout-placeholder"></div>
<div class="shop-checkout" ng-init="initCheckout()">
    <div class="shop-checkout-inner">
        <div class="shop-checkout-total">סה"כ תרומה: {{totalToPay}} שקלים</div>
        <button class="shop-checkout-button button-{{paymentActive ? 'blue' : 'disabled'}}"
               ng-click="pay()"><i class="fa fa-cart"></i> לתשלום</button>

    </div>
</div>