<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.treatsforlife.app" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TreatsForLife</name>
  <description>
    ברוכים הבאים לפרויקט "חטיפים לחיים"
  אז איך זה עובד? מתחילים בבחירת החבר החדש שלכם, אחד הכלבים שנמצאים בבתי האומנה שעובדים איתנו. הכלב שתבחרו יהיה שלכם
  ותוכלו לקנות עבורו אוכל, פינוקים ואפילו חיסונים. כל מה שתתרמו לכלב שלכם יועבר מדי שבוע לכלביה המתאימה ואתם תקבלו
  סרטון קצר ובו מצולם כלבכם מקבל את התרומה שלכם. ובעזרת קצת שיתוף, אולי תעזרו לחבר שלכם למצוא בית.
  קדימה, הכלבים שלנו מחכים לפינוקים שלכם.
    </description>
  <author email="guysopher@gmail.com" href="http://treatsforlife.org/">
      Guy Sopher
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce"      value="false"/>
  <preference name="UIWebViewBounce"    value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage"   value="none"/>
  <!--<preference name="StatusBarOverlaysWebView" value="false" />-->
  
</widget>
