<div class="body-cover" ng-click="closePushMenu()"></div>
<nav class="fix cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right " id="menuRight" ng-swipe-right="closePushMenu()" ng-swipe-left="closePushMenu()">
    <!--<i class="fa fa-times f-right" ng-click="closePushMenu()"></i>-->
    <!--<clear/>-->
    <div class="push-event">
        <img ng-src="{{user.pet.image}}" ng-if="user.pet"/>
        <img src="images/logo.png" ng-if="!user.pet" class="logo"/>
    </div>
    <ul class="large white-links rtl">
        <li class="push-mine"><a ng-click="closePushMenu();" ng-href="{{'#/pet/' + user.pet._id}}" ng-if="user.pet">הכלב שלי</a></li>
        <li class="push-lonely"><a ng-click="closePushMenu();" ng-href="#/pets/lonely">כלבים בודדים</a></li>
        <li class="push-adopted"><a ng-click="closePushMenu();" ng-href="#/pets/adopted">כלבים מאומצים</a></li>
        <li class="push-who"><a ng-click="closePushMenu(); showDialog('welcome')">מי אנחנו?</a></li>
        <li class="push-fb"><a ng-click="closePushMenu();" href="http://www.facebook.com/treatsforlife" target="_blank"><i class="fa fa-facebook-square color-facebook"></i> חטיפים לחיים</a></li>
    </ul>
</nav>


